.realtors {
  background-color: $color-secondary;

  //the header expands from starting of grid line 7 (unnamed) to the end of grid line named full-end (named). Hence we're using it the way it's shown below
  grid-column: col-start 7/ full-end;

  padding: 3rem;

  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  grid-row-gap: 2rem;


  @media only screen and (max-width: $bp-medium){
    grid-column: 1 / -1;
  }

  &__list{
    display: grid;

    //min content for images and max for names
    grid-template-columns: min-content max-content;
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;
    align-items: center;


  //putting all realtors and their pictures side by side using repeat. We can use repeat for things like this too
  @media only screen and (max-width: $bp-medium){
    grid-template-columns: repeat(3, min-content max-content);
  }


  @media only screen and (max-width: $bp-small){
    grid-template-columns: min-content max-content;
  }

  }

  &__img{
    width: 7rem;
    border-radius: 50%;
    display: block;
  }


  &__sold{
    text-transform: uppercase;
    color: $color-grey-light-2;
    margin-top: -3px;
  }
}
